.up {-fx-background-image: url('./assets/arrow_shift_up.png');}
.left {-fx-background-image: url('./assets/arrow_shift_left.png');}
.right {-fx-background-image: url('./assets/arrow_shift_right.png');}
.down {-fx-background-image: url('./assets/arrow_shift_down.png');}
.cam {-fx-background-image: url('./assets/cam.png');}